__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
__pycache__
htmlcov/
.tox/
.pytest_cache/
.coverage
.coverage.*
.pytest_cache/
celerybeat-schedule
django_env/
.env
.local
*.sqlite3
*.db
staticfiles/
